@import 'C:/WORKSPACE/showcasemodels/Project/1_Website/Design/Main_Layout/css/global';

ul, li {
  list-style:none;
  margin:0;
  padding:0;
}
header {
  height:auto;
  width:100%;  
  padding-top:25px;
  clear:both;
  margin:0 auto;
  background-color:#fff;
  //logo css
  .headerInnerWrapper {
  height:90px;
  width:1100px;
  position:relative;
  margin-bottom:25px;
  }
  a.showCaseLogo {
    width:293px;
    height:88px;
    background-repeat:no-repeat;
    background-image:url('/Project/1_Website/Design/Main_Layout/images/logo-show-case-model-2.png');
  } 
  .rightNavs {
    position:relative;
    width:435px;
    a { 
      float:left; 
      color:#000;
      font-size:1.4em;
    }    
    //secondary navs css opening
    .secondaryNavWrapper {
      margin-bottom:15px;
      color:#000;
      ul#secondary_nav {
        li {
          float:left;
          a {
            padding-right:15px;
          }
        }
      }
      span.contactNumber {
        top:-6px;
        font-size:2.3em;
        font-weight:bold;
        color:#58585B;
      }
    } 
    //secondary navs css closing
    //login register links place order css
    div.loginRegisterWrapper {
      border-radius: 5px 5px 5px 5px;
      height:auto;
      overflow:auto;
      border:1px solid #D1D2D4;
      ul {
        li {
          float:left;
          padding-top:11px;
          height:40px;
          border-right:1px solid #D1D2D4;
          a {
            padding-left:15px;
            padding-right:15px;
          }
        }
        li.shoppingCartLink {
          width:130px;
          cursor:pointer;
          span.cartItemQuantity {
            background-image: url("/Project/1_Website/Design/Main_Layout/images/shop-cart-icon.png");
            font-size:1.5em;;
            height: 27px;
            padding-left: 34px;
            padding-top: 4px;
            position: relative;
            right: 10px;
            top: -4px;
            width: 60px;
          }
        }
      }
      a.placeOrder {
        height: 30px;
        margin-left: 18px;
        margin-top: 5px;
        width: 135px;
      }       
    }
    //login register links place order css
  }
   //primary nav css
  .primaryNavWrapper {
    background-image:url('/Project/1_Website/Design/Panels/header/images/nav-strip.png');
    height:37px;
    width:100%;
    .navCenterHolder {
     width: 1100px;
     height: 37px;
     ul#primary_nav {
       float:left;
       li {
         height:37px;
         float:left;
         padding-top:9px;
         border-right:2px solid rgba(255,255,255, 0.3);
           a {
            font-family: 'Conv_DIN-MEDIUM';
            color: #fff;
            font-size:2.0em;
            padding-left: 25px;
            padding-right: 25px;  
           }
        }
        li:hover {
          background-color:#18377E;
        }
        li#products {
          display:none;
        }
     }
     //primary nav css
    form.searchForm {
      width:295px;
      height:30px;
      position:relative;
      top:5px;
      right:5px;
        input[type="text"] {
          width:280px;
          height:30px;
        }
        input[type="submit"] {
          font-family: 'Conv_DIN-MEDIUM';
          width:72px;
          height:30px;
          padding-bottom: 5px !important;
          padding-top: 0 !important;
          top:0; right:0;
        }
      }     
    }
  }   
  //product drop down navigation css//
  .productNavigationWrapper {
    display:none;
    position:relative;
    width:100%;
    height:370px;
    background-color:#18377E;
    z-index:3;
    .productNavigation {
      height:370px;
      width:1100px;
      position:relative;
        .categoryWrapper {
          width: 1100px;
          height: 230px;
          position: absolute;
          overflow: hidden;
          top: 0;
          border-bottom: 1px solid #fff;
            .subCategoryTable {
              width:100%;
              height:100%;
              td {
                padding:40px 0 35px 20px;
                ul {
                  li {
                    margin-bottom:20px;
                    a {
                    	position:relative;
                    	z-index:5;
                      color:#fff;
                      font-size:1.8em;
                      font-family: 'AvenirLTStd-Roman';
                    }
                  }
                }
              }
            }
        } 
        .active {
          z-index:5;
        }
        .headerBottomLinks {
          position:absolute;
          bottom:0;
          height:115px;
          width:100%;
          color:#fff;
          div { margin-top:24px; }
          p { font-size:1.8em; }
          a { 
            font-size:1.8em;
            text-decoration:underline;
            float:left;
            margin-right:30px;
            color:#fff;
          }
        }
    }
  }    
}


