/************************************** MAIN **************************************/
.sprite {
  border: none;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-color: transparent; }

body {
  color: #404041; }
  body p {
    line-height: 22px; }
  body a {
    color: #404041; }
  body #wrapper {
    background-color: #ffffff;
    margin: 0 auto;
    width: 100%; }
    body #wrapper section[id*='_container'] {
      min-height: 300px;
      width: auto; }
  body .btnOrLink {
    padding: 5px 10px;
    font-weight: bold;
    display: block !important;
    color: white !important;
    font-size: 1.6em !important;
    font-weight: bold !important;
    text-align: center !important;
    border-radius: 5px; }
  body .bgRed {
    background-color: #B12335; }
  body .fontColorRed {
    color: #B12335; }
  body .bgBlue {
    background-color: #1E4596; }
  body .fontColorBlue {
    color: #1E4596; }
  body .fontDarkGray {
    color: #404041; }
  body .fontLightGray {
    color: #939597; }
