ul, li {
  list-style: none;
  margin: 0;
  padding: 0; }

select {
  border: 1px solid #cccccc; }

.cartTopLink {
  margin-bottom: 15px; }

.shoppingCartWrapper .cartItems {
  margin-bottom: 15px;
  height: 120px;
  width: 100%;
  padding: 10px;
  border: 1px dashed #cccccc; }
  .shoppingCartWrapper .cartItems .productCartImage {
    height: 80px;
    width: 80px;
    background-size: cover; }

.welcomePageWrapper .welcomePageColumn {
  width: 33.3%;
  height: 455px;
  border: 1px dashed #cccccc; }
.welcomePageWrapper .login {
  font-size: 15px; }
  .welcomePageWrapper .login .row {
    margin-top: 15px; }
.welcomePageWrapper .expressCheckOut input[type="submit"] {
  border: none;
  background: transparent;
  font-size: 17px; }

.checkOutWrapper .orderDetailWrapper, .shipPaySelectionWrapper .orderDetailWrapper {
  margin: 20px 0; }
  .checkOutWrapper .orderDetailWrapper ul, .shipPaySelectionWrapper .orderDetailWrapper ul {
    float: left;
    clear: both; }
    .checkOutWrapper .orderDetailWrapper ul li, .shipPaySelectionWrapper .orderDetailWrapper ul li {
      border: 1px dashed #cccccc;
      padding: 7px;
      width: 200px;
      float: left; }

.checkOutWrapper form.shipToBillTo, .shipPaySelectionWrapper form.shipToBillTo {
  margin-top: 20px; }
  .checkOutWrapper form.shipToBillTo .shipToBillToWrapper, .shipPaySelectionWrapper form.shipToBillTo .shipToBillToWrapper {
    margin-bottom: 20px; }
  .checkOutWrapper form.shipToBillTo .shipTo, .checkOutWrapper form.shipToBillTo .billTo, .shipPaySelectionWrapper form.shipToBillTo .shipTo, .shipPaySelectionWrapper form.shipToBillTo .billTo {
    width: 400px; }
  .checkOutWrapper form.shipToBillTo .form_row, .shipPaySelectionWrapper form.shipToBillTo .form_row {
    height: 30px;
    margin-bottom: 10px;
    clear: both; }
    .checkOutWrapper form.shipToBillTo .form_row label, .shipPaySelectionWrapper form.shipToBillTo .form_row label {
      font-size: 14px;
      float: left; }
    .checkOutWrapper form.shipToBillTo .form_row input, .shipPaySelectionWrapper form.shipToBillTo .form_row input {
      height: 30px;
      width: 260px;
      float: right; }
    .checkOutWrapper form.shipToBillTo .form_row select, .shipPaySelectionWrapper form.shipToBillTo .form_row select {
      width: 260px;
      float: right; }
  .checkOutWrapper form.shipToBillTo input[type="submit"], .shipPaySelectionWrapper form.shipToBillTo input[type="submit"] {
    font-size: 15px;
    padding: 5px; }
