
<FilesMatch "\.(js.gz)$"> 
   AddType text/javascript .gz  
   AddEncoding x-gzip .gz  
</FilesMatch> 

<FilesMatch "\.(css.gz)$">  
	AddType text/css .gz  
	AddEncoding x-gzip .gz  
</FilesMatch> 

# BEGIN GZIP
<ifmodule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
</ifmodule>
# END GZIP

RewriteEngine on

#Check to see if browser can accept gzip files.
ReWriteCond %{HTTP:accept-encoding} gzip
RewriteCond %{HTTP_USER_AGENT} !Safari
#make sure there's no trailing .gz on the url
ReWriteCond %{REQUEST_FILENAME} !^.+\.gz$
#check to see if a .gz version of the file exists.
RewriteCond %{REQUEST_FILENAME}.gz -f
#All conditions met so add .gz to URL filename (invisibly)
RewriteRule ^(.+) $1.gz [QSA,L] 

RewriteRule ^main/(.*) /$1 [R=301,L]
RewriteRule !\.(gz|js|ico|gif|jpg|png|css|swf|htc|txt|kml|docx|doc|eof|ttf|eot|svg|woff|JPG)$ index.php