/* =============================================================================
   Typography
   ========================================================================== */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
   
body { font-family: "arial",tahoma,verdana,sans-serif; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

strong, th, thead td { font-weight: bold; }

cite, em, dfn { font-style: italic; }

del { text-decoration: line-through; color: #666; }

ins, dfn { border-bottom: 1px solid #ccc; }

abbr, acronym { text-transform: uppercase; font-size: 85%; letter-spacing: .1em; }

a abbr, a acronym { border: none; }

abbr[title], acronym[title], dfn[title] { cursor: help; border-bottom: 1px dotted #ccc; }

/* QUOTES */
blockquote { border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; color: #666; }

blockquote *:first-child:before { content: "\201C"; }

blockquote *:first-child:after { content: "\201D"; }

p {
  margin: 0 0 9px;
  font-size: 13px;
  line-height: 18px;
  word-wrap: break-word;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
  font-family: inherit;
  font-weight: bold;
  color: inherit;
  text-rendering: optimizelegibility;
}
h1 small,h2 small,h3 small,h4 small,h5 small,h6 small {
  font-weight: normal;
  color: #999999;
}
h1 {
  font-size: 30px;
  line-height: 36px;
}
h2 {
  font-size: 24px;
  line-height: 36px;
}
h3 {
  line-height: 27px;
  font-size: 18px;
}
h1 small {
  font-size: 18px;
}
h2 small {
  font-size: 18px;
}
h3 small {
  font-size: 14px;
}
h4 {
  font-size: 14px;
}
h5,
h6 {
  font-size: 11px;
  color: #999999;
}
h6 {
  line-height: 18px;
}
h4 small {
  font-size: 12px;
}
h5 {
  font-size: 12px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* Font Sizes */
.fs-xxs   { font-size:8px;  }
.fs-xs    { font-size:10px; }
.fs-s     { font-size:12px; }
.fs-m     { font-size:14px; }
.fs-b     { font-size:16px; }
.fs-l     { font-size:18px; }
.fs-xl    { font-size:20px; }
.fs-xxl   { font-size:22px; }

/* Font size Increase / Decrease
 * To increase font size by 1px follow this markup
 *  eg. <p class="fs-s"><span class="fs-p1"></span></p> -> this results to a fonts size of 13px
 *    <p class="fs-s"><span class="fs-x2"></span></p> -> results to a font size of 24px
 **/
.fs-p1    { font-size:1.05em; } /*plus 1px to parent*/
.fs-m1    { font-size:0.95em; } /*minus 1px to parent*/
.fs-x2    { font-size:2em; }    /*times 2 to parent*/
.fs-div2  { font-size:0.5em; }    /*devide parent by 2*/

/* Font Weight */
.fwB  { font-weight:bold;   }
.fwN  { font-weight:normal; }

/* Font Color */
/* depends what are the colors are needed */
.fcB    { color:black; }
.fcW    { color:white; }
.fcRed    { color:red; }
.fcGray   { color:gray; }
.fcBlue   { color:blue; }


.fc_starfish_gray {color:#EDEDED;}
.fc_starfish_gray1 {color:#B2B2B2;} /**form label input / logout **/
.fc_starfish_gray2 {color:#DADADA;} /**form label checkbox**/
.fc_starfish_gray3 {color:#9D9D9C;} /** submit button**/
.fc_starfish_gray4 {color:#7E7D82;} /****/
.fc_starfish_gray5 {color:#3C3C3B;} /** nav background headertext **/
.fc_starfish_gray6 {color:#575756;} /****/
.fc_starfish_gray7 {color:#878787;} /****/
.fc_starfish_gray8 {color:#3E4246;} /****/
.fc_starfish_gray9 {color:#7E7D82;}
.fc_starfish_gray10 {color:#B5B5B5;}
.fc_starfish_green {color:#C9D51F;} /**user**/
.fc_starfish_green1{color:#95C11F;} /**table total**/
.fc_starfish_green2{color:#3AAA35;} /**popUp green**/
.fc_starfish_blue {color:#36A9E1;}  /**login button / users online**/
.fc_starfish_red {color:#BE1622;} /**delete**/


/*Font squirrel fonts*/
