@import 'C:/WORKSPACE/showcasemodels/Project/2_Enterprise/Design/Main_Layout/css/global';

/*********************************** Category scss ***********************************/

#applicationContent{
  padding:30px !important;
  width: 100%;
  .tableContainer{
    table{
      width:1140px !important
    }
  }
}
